<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxTcUoZTh47V6t0Rbu5mm2HIqGWSjnqB8</string>
	<key>GCM_SENDER_ID</key>
	<string>97022070620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yoriSportApp</string>
	<key>PROJECT_ID</key>
	<string>yori-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>yori-sport.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97022070620:ios:51625f4d1a0407590dbb99</string>
</dict>
</plist>